[submodule "Extensions/CoreLocation"]
	path = Extensions/CoreLocation
	url = https://github.com/dougzilla32/CPKCoreLocation
[submodule "Extensions/Alamofire"]
	path = Extensions/Alamofire
	url = https://github.com/dougzilla32/CPKAlamofire
